/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #eee;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Fira Sans", Sans-Serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #303030;
}

#truebody {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  content: url(../img/logo.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 5%;
  display: block;
  height: 23%;
  width: 23%;
}

.section {
  text-align: center;
}

.btn-group {
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 40px;
}

.btn-group button {
  background-color: #303030;
  border: 1px solid #fff;
  color: white; /* White text */
  width: 33.33%;
  padding: 10px;
  cursor: pointer;
  float: left; /* Float the buttons side by side */
}

.btn-group button:hover {
  background-color: #e2e2e2;
  color: black;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
  border-top: none;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.map {
  margin-top: 30px;
  text-align: center;
}

#map {
  width: 100%;
  height: 300px;
}

#mapButton {
  background-color: #303030;
  border: 1px solid #fff;
  color: white; /* White text */
  width: 33.33%;
  padding: 10px;
  cursor: pointer;
}

#mapButton:hover {
  animation: background-rainbow 2s linear infinite;
}

@keyframes background-rainbow {
  0%	{background-color: hsla(0, 70%, 50%, 1);}
  10%	{background-color: hsla(30, 70%, 50%, 1);}
  20%	{background-color: hsla(60, 70%, 50%, 1);}
  30%	{background-color: hsla(90, 70%, 50%, 1);}
  40%	{background-color: hsla(120, 70%, 50%, 1);}
  50%	{background-color: hsla(150, 70%, 50%, 1);}
  60%	{background-color: hsla(180, 70%, 50%, 1);}
  70%	{background-color: hsla(210, 70%, 50%, 1);}
  80%	{background-color: hsla(240, 70%, 50%, 1);}
  90%	{background-color: hsla(270, 70%, 50%, 1);}
  100%	{background-color: hsla(0, 70%, 50%, 1);}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
    #truebody {
      width: 80%;
    }

    #logo {
      margin-top: 8%;
      width: 50%;
	  height: 30%;
      content: url(../img/logo-smaller.webp);
    }
}

@media only screen and (max-width: 20em) {
    /* Style adjustments for viewports that meet the condition */
    #truebody {
      width: 100%;
    }
}



@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
